{% extends 'base.html' %}

{% block content %}
<h1>Tasks Pending   </h1>
<ul class="list-group">
    <div class="container">
        
        
        {% for task in tasks %}
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <li class="list-group-item">

                    {% if task.important %}
                    <strong><h1 class="text-center">{{task.title}}</h1></strong>
                    {% else %}
                    <h2 class="text-center">{{task.title}}</h2>
                    
    
                    {% endif %}
                    
                    <div class="text-center">
                        <h5>{{task.description}}</h5>
    
                        <h5>{{task.user.username}}</h5>
                        <a  class= "btn btn-success" href="{% url 'task_detail' task.id %}">Details</a>
                    </div>
                        
                </li>
            </div>
            <div class="col-3"></div>

        </div>
        

        {% endfor %}
</ul>

{% endblock %}

